// Color Variables
$primary-color: #2980b9;
$secondary-color: #16a085;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;
$grayscale: radial-gradient(circle, rgba(236,238,238,1) 0%,
    rgba(216,216,216,1) 35%,
    rgba(166,167,166,1) 100%);

// Font Variables
$logo-font: 'Montserrat Subrayada', sans-serif;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$tertiary-font: 'BwNistaInt-xBd';
$icon-font: 'themify';